<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sf.system.dao.UserDao">
	<select id="list" resultType="com.sf.system.model.User">
		select `user_id`,`username`,`name`,`password`,`salt`,`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district` ,`create_time`,`update_time`,`create_by`,`update_by` from sys_user
		<where>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="salt != null and salt != ''"> and salt = #{salt} </if>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="userIdCreate != null and userIdCreate != ''"> and user_id_create = #{userIdCreate} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
			<if test="birth != null and birth != ''"> and birth = #{birth} </if>
			<if test="picId != null and picId != ''"> and pic_id = #{picId} </if>
			<if test="liveAddress != null and liveAddress != ''"> and live_address = #{liveAddress} </if>
			<if test="hobby != null and hobby != ''"> and hobby = #{hobby} </if>
			<if test="province != null and province != ''"> and province = #{province} </if>
			<if test="city != null and city != ''"> and city = #{city} </if>
			<if test="district != null and district != ''"> and district = #{district} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="listAllDept" resultType="long">
				select DISTINCT dept_id from sys_user
	</select>
</mapper>