package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.sf.common.tools.BaseServiceImpl;

import ${package}.dao.${className}Dao;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;



@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}> implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	

}
