package ${package}.service;

import ${package}.domain.${className}DO;
import com.sf.common.tools.BaseService;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}>{
}
